.question {
	background-color: #fff;
	cursor: pointer;
	margin-bottom: 2px;
	min-height: 150px;
	padding: 16px 16px 16px 16px;
	position: relative;
	z-index: 0;

	&.open {
		z-index: 1;
	}

	&.open-add {
		z-index: 1;
	}

	&.open-remove {
		z-index: 1;
	}
}

.question-content {
	position: relative;
	z-index: 1;
}

.header {
	margin-left: 72px;
	transition: transform 300ms ease-out;
}

.open {
	.header {
		transition: transform 300ms ease-out;
		transform: translate3d(0, -20px, 0);
	}
}

.body {
	margin-left: 72px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	transition: all 150ms ease-out;
	word-break: break-word;
}

.open {
	.body {
		opacity: 1;
		transition: all 300ms ease-out;
		transform: translate3d(0, -20px, 0);
	}
}

.counts {
	height: 384px;
	left: 0;
	position: absolute;
	top: 0;
	transition: transform 300ms ease-out;
	width: 48px
}

.open {
	.counts {
		transition: transform 300ms ease-out;
		transform: translate3d(-6px, -20px, 0);
	}
}

.footer {
	position: relative;
	transition: transform 150ms ease-out;
}

.fade-out {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	bottom: 0;
	height: 50%;
	position: absolute;
	width: 100%;
}

.question-expanded-background {
	background-color: #fff;
	height: 520px;
	left: -20px;
	margin: auto;
	position: absolute;
	right: 0;
	top: -40px;
	transition: transform 150ms;
	transform: scale(.92, .2875);
	transform-origin: 50% 56px;
	width: 520px;
	z-index: 0;
}

.open {
	.question-expanded-background {
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .25);
		transition: transform 150ms;
		transform: scale(1, 1);
	}
}

.owner-name {
	height: 28px;
	float: left;
	font-size: 14px;
	overflow: hidden;
	padding-top: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.by-label{
	opacity: .5;
}

.question-title {
	clear: both;
	color: $brand-secondary-darker;
	font-size: 26px;
	font-weight: 200;
	line-height: 26px;
	padding: 12px 0 24px 0;
	word-wrap: break-word;
}

.count-wrapper {
	height: 48px;
	text-align: center;

	&.ng-hide-remove {
		opacity: 0;
		transition: all 300ms ease-out;
		transform: translate3d(-24px, 0, 0);

		&:nth-child(3) { transition-delay: 32ms; }
		&:nth-child(4) { transition-delay: 64ms; }
		&:nth-child(5) { transition-delay: 96ms; }
		&:nth-child(6) { transition-delay: 128ms; }
		&:nth-child(7) { transition-delay: 160ms; }
		&:nth-child(8) { transition-delay: 192ms; }
	}

	&.ng-hide-remove-active {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	&.ng-hide-add {
		opacity: 1;

		&:nth-child(3) { transition-delay: 0; }
		&:nth-child(4) { transition-delay: 0; }
		&:nth-child(5) { transition-delay: 0; }
		&:nth-child(6) { transition-delay: 0; }
		&:nth-child(7) { transition-delay: 0; }
		&:nth-child(8) { transition-delay: 0; }
	}

	&.ng-hide-add-active {
		opacity: 0;
		transition: all 150ms ease-out;
	}
}

.count {
	display: block;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: -4px;
}

.count-label {
	display: block;	
	font-size: 10px;
	opacity: .5;
}

.links {
	float: right;
}

.button-link {
	margin-left: 8px;
}

.stack-link {
	transition: all 300ms;

	&.ng-hide-remove {
		opacity: 0;
	}

	&.ng-hide-remove-active {
		opacity: 1;
	}

	&.ng-hide-add {
		opacity: 1;
	}

	&.ng-hide-add-active {
		opacity: 0;
	}
}

.open {
	.stack-link {
		opacity: 1;
	}

	.owner-link {
		opacity: 1;
	}
}