<div class="question-content">
    <header class="header cf">
        <p class="owner-name">{{question.owner.display_name}} <span class="by-label">posted:</span></p>
        <h2 class="question-title" ng-bind-html="question.title | toHTML" target="_blank"></h2>
    </header>
    <section class="body">
        <p ng-bind-html="question.body_markdown | toHTML"></p>
        <div class="fade-out"></div>
    </section>
    <section class="counts">
        <p class="count-wrapper">
            <span class="count">{{question.answer_count || 0}}</span>
            <label class="count-label">Answers</label>
        </p>
        <p class="count-wrapper">
            <span class="count">{{question.score || 0}}</span>
            <label class="count-label">Score</label>
        </p>
        <p class="count-wrapper" ng-show="$index == selectedIndex">
            <span class="count">{{question.is_answered | toYesNo}}</span>
            <label class="count-label">Answered</label>
        </p>
        <p class="count-wrapper" ng-show="$index == selectedIndex">
            <span class="count">{{question.view_count || 0}}</span>
            <label class="count-label">Views</label>
        </p>
        <p class="count-wrapper" ng-show="$index == selectedIndex">
            <span class="count">{{question.comment_count || 0}}</span>
            <label class="count-label">Comments</label>
        </p>
        <p class="count-wrapper" ng-show="$index == selectedIndex">
            <span class="count">{{question.favorite_count || 0}}</span>
            <label class="count-label">Fav's</label>
        </p>
        <p class="count-wrapper" ng-show="$index == selectedIndex">
            <span class="count">{{question.up_vote_count || 0}}</span>
            <label class="count-label">+Votes</label>
        </p>
        <p class="count-wrapper" ng-show="$index == selectedIndex">
            <span class="count">{{question.down_vote_count || 0}}</span>
            <label class="count-label">-Votes</label>
        </p>
    </section>
    <footer class="footer cf" ng-attr-style="{{$index == selectedIndex ? 'transform: translate3d(0px, 200px, 0px);' : 'transform: none'}}">
        <div class="links">
            <a ng-show="$index == selectedIndex" class="stack-link button button-link" href="{{question.link}}" target="_blank" ng-click="$event.stopPropagation()">View on Stack</a>
            <a class="owner-link button button-link" ui-sref=".user({user_id: question.owner.user_id})" ng-click="$event.stopPropagation()">User Info</a>
        </div>
    </footer>
</div>

<div class="question-expanded-background"></div>