body {
	color: $base-font;
	font-family: 'Titillium Web', sans-serif;
}

a {
	color: $base-font;
	text-decoration: none;
	transition: all 150ms;

	&:hover {
		color: $brand-secondary-dark;
		transition: all 150ms;
	}
}