//globals
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'badges';
@import 'header';
//components
@import '../../components/questions/questionsStyle'; 
@import '../../components/question/questionStyle'; 
@import '../../components/user/userStyle'; 

body {
	background-color: $brand-light;
}

img {
	display: block;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}