//globals
@import 'colors';
@import 'typography';
@import 'buttons';
//components
@import '../../components/list/list'; 
@import '../../components/profile/profile'; 

body {
	background-color: $brand-light;
	//-webkit-tap-highlight-color: rgba(203, 221, 231, 1);
}

img {
	display: block;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.badge {
	background-color: rgba($brand-light, 1);
	//border-radius: 14px;
	color: $brand-dark;
	display: inline-block;
	height: 24px;
	line-height: 22px;
	min-width: 24px;
	padding: 0 8px;
	text-align: right;
}

.badge-label {
	font-size: 14px;
	margin-right: 16px;
	opacity: .5;
}