<div class="tool-bar">
	<a href="#/questions" class="button-dismiss">Back</a>
</div>

<div class="user-modal">
	<header class="profile-header">
		<div class="background background-mobile"></div>
		<div class="background background-blur" style="background-image: url({{user.profile_image}})"></div>
		<p class="user-name">
			<a href="{{user.link}}" target="_blank">{{user.display_name || 'Unknown User'}}</a>
		</p>
		<div class="profile-image" style="background-image: url({{user.profile_image}})"></div>
	</header>
	<div class="profile-body">
		<p class="user-rep cf">
			{{user.reputation || 0 | number}}
			<label class="profile-label">Rep</label>
			<span ng-if="user.recentBadge.name">
				<span class="profile-label">|</span>
				<label class="profile-label">Last Badge:</label>
				<span class="badge profile-badge last-badge">
					<span class="rank {{user.recentBadge.rank}}"></span>{{user.recentBadge.name}}
				</span>
			</span>
		</p>
		<p class="past-badges cf">
			{{user.pastBadges.length || '0'}} <label class="profile-label">badges earned six monthes ago<span ng-if="user.pastBadges.length">:</span></label>
		</p>
		<ul class="badges cf">
			<li class="badge profile-badge" ng-repeat="badge in user.pastBadges | orderBy:'-rank'">
				<span class="rank {{badge.rank}}"></span>
				<span ng-bind-html="badge.name | toHTML"></span>
			</li>
		</ul>
	</div>
</div>
