<div ng-show="acculynx.length > 0">
	<h3 class="heading">AccuLynx Meta:</h3>
	<ul class="cf">
		<li class="employee" ng-repeat="employee in acculynx" ui-sref=".user({id: employee.user_id})" ng-click="setUser(employee)">
			<p>{{employee.display_name}}</p>
			<p>
				<span class="rank gold"></span><label class="inline-label">{{employee.badge_counts.gold | number}}</label>
				<span class="rank silver"></span><label class="inline-label">{{employee.badge_counts.silver | number}}</label>
				<span class="rank bronze"></span><label class="inline-label">{{employee.badge_counts.bronze | number}}</label>
			</p>
			<p><label class="inline-label">Reputation:</label> {{employee.reputation | number}}</p>
			<p><label class="inline-label">Answers:</label> {{employee.answer_count | number}}</p>
			<p><label class="inline-label">Accepted:</label> {{employee.accept_rate}}%</p>
		</li>
	</ul>
</div>

<button class="button button-primary" ng-hide="acculynx.length > 0" ng-click="getAccuLynx()">Get AcuLynx Users</button>