<header class="header">
    <div class="header-inner">
        <p>High Score: <span ng-bind-html="highScore.title | toHTML"></span> ({{highScore.score}})</p>
        <p>Reputation Sum: {{reputationSum}}</p>
    </div>
</header>

<ul class="question-list">
    <li class="question cf" ng-repeat="question in questions">        
            <p class="owner-name">{{question.owner.display_name}} <span class="by-label">posted:</span></p>
            
            <h1 class="question-title"><a href="{{question.link}}" ng-bind-html="question.title | toHTML"></a></h1>
            
            <div class="meta">
                <p class="answer-count">
                    <span class="badge">{{question.answer_count}}</span>
                    <label class="badge-label">Answers</label>
                </p>
                <p class="question-score">
                    <span class="badge">{{question.score}}</span>
                    <label class="badge-label">Score</label>
                </p>
                <div class="links">
                    <a class="owner-link button-link" ui-sref=".profile">User Info</a>
                </div>
            </div>

<!--             <div class="owner-image" style="background-image: url({{question.owner.profile_image}});"></div>
 -->            
        
    </li>
</ul>

<div class="profile-view" ui-view></div>
