.questions-header {
	font-size: 32px;
	font-weight: 200;
	line-height: 26px;
	margin: 32px 0;
	padding: 0 16px;
}

.sidebar {
	opacity: .75;
	margin: 16px 0;
	padding: 0 16px;
	
	@media(min-width: 1024px) {
		margin: 0;
		padding: 16px;
	}
}

.question-meta {
	@media(min-width: 1024px) {
		border-left: 4px solid rgba(0, 0, 0, .125);
		left: 500px;
		padding: 16px;
		position: absolute;
		top: 90px;
		width: 240px;
	}
}

.break-on-1024 {
	@media(min-width: 1024px) {
		display: block;
	}
}

.label {
	display: block;
	font-size: 14px;
	margin-top: 16px;
	opacity: .75;
}

.inline-label {
	font-size: 14px;
	opacity: .75;
}

.data {
	display: inline-block;
	font-size: 16px;
	line-height: 100%;
}

.questions {
	@media(min-width: 1024px){
		padding-bottom: 32px;
	}
}