<div class="user-view" ui-view></div>
<h1 class="questions-header">Stack's Most Recent Questions</h1>
<aside class="sidebar question-meta">
	<h2 class="heading">Recent Questions Meta:</h2>
    <p>
		<label class="label">Highest Scoring:</label>
		<span class="data">
			"<span ng-bind-html="highScore.title | toHTML"></span>"
			<span class="break-on-1024">
				<label class="inline-label">by:</label> {{::highScore.owner}},
			</span>
			<span class="break-on-1024">
				<label class="inline-label">for:</label> {{::highScore.score}} Points,
			</span>
			<span class="break-on-1024">
				<label class="inline-label">tied with:</label> {{::highScore.ties == 0 ? 'No One!' : highScore.ties + ' Others'}}
			</span>
		</span>
 	</p>
    <p>
    	<label class="label">Reputation Sum:</label>
    	<span class="data">{{::reputationSum | number}}</span>
    </p>
</aside>

<ul class="questions">
    <li class="question cf" question ng-repeat="question in questions" ng-click="setIndex($index); getQuestionDetails(question.question_id);" ng-class="{open: $index == selectedIndex}"></li>
</ul>

<aside class="sidebar acculynx-meta" acculynx-meta></aside>
